<h3>Comments</h3>  
  
  <section class="comments">
    {{#each this}}
    <div class="comment-container">
      <div class="comment-title">
        <span>{{user.username}} on {{formatDate created_at}} wrote:</span>
      </div>
      <div class="comment-body">
        {{body}}
      </div>
    </div>
    {{/each}}
  </section>