<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main-container">
        <header>
            <h1>Tech Blog</h1>
            <!--#if loggedIn-->
            <nav>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#">Logout</a>
                    </li>
                </ul>
            </nav>
            <!--else nav item logout changes to login-->
        </header>

        <section class="body-container">
            {{{ body }}}
        </section>

        <footer>
            <h5>Created by: Kimberly Amaya</h5>
        </footer>
    </div>
    
</body>
</html>