<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="div-post-form">
      <div class="label">
       <label for="blog-title-form" class="label">Blog Title</label>
      </div>
      <div class="label">
        <input type="text" id="blog-title-form" name="blog-title-form" />
      </div>
    </div>
    <div class="div-post-form">
      <div class="label">
        <label for="blog-body-form" class="label">Blog Body</label>
      </div>
      <div class="label">
      <textarea name="blog-body-form" id="blog-body-form"></textarea>
      </div>
    </div>
    <div class="btn-container">
      <button type="submit" class="btn">Create</button>
    </div>
  </form>
</section>

{{#if blog.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each blog as |blog|}}
      {{> blog-info-dashboard blog}}
      <!--<a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit post</a>-->
    {{/each}}
  </ol>
</section>  
{{/if}}

<script src="/javascript/add-post.js"></script>
