<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div class="div-post-form">
      <div class="label">
        <label for="title">Blog Title</label>
      </div>
      <div class="label">
        <input name="blog-title" type="text" value="{{blog.title}}" id="blog-title-form" />
      </div>
    </div>
    <div class="div-post-form">
      <div class="label">
        <label for="body">Blog Body</label>
      </div>
      <div class="label">
        <textarea name="blog-body" id="blog-body-form">{{blog.body}}</textarea>
      </div>
    </div>
    <div class="btn-container">
      <button type="submit" class="btn" id="update-post-btn">Update</button>
    </div>
    <div class="btn-container">
      <button type="button" class="btn" id="delete-post-btn">Delete</button>
    </div>
  </form>
</article>  

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
