<ol class="blog-list">
    {{#each blogs as |blog|}}
        <li class="blog-item">
            <article class="blog">
                <div class="title">
                    <a href="#" target="_blank">{{blog.title}}</a>
                    <span>Posted by: {{blog.user_id}} on {{format_date blog.created_at}}</span>
                </div>
            </article>
        </li>
    {{/each}}
</ol>