<form class="signup-form">
    <div>
        <div class="label">
            <label for="email-signup">Email:</label>
        </div>
        <div class="label">
            <input type="text" id="email-signup" />
        </div>
    </div>
    <div>
        <div class="label">
            <label for="username-signup">Username:</label>
        </div>
        <div class="label">
            <input type="text" id="username-signup" />
        </div>
    </div>
    <div>
        <div class="label">
            <label for="password-signup">Password:</label>
        </div>
        <div class="label">
            <input type="password" id="password-signup" />
        </div>
    </div>
    <div class="signup-btn-container">
        <button type="submit" class="signup-btn">Signup</button>
    </div>
    <div>
        <a href="/login">Click here to login</a>
    </div>
</form>

<script src="/javascript/signup.js"></script>