
{{> blog-info blog }}
  
{{#if loggedIn}}
<form class="comment-form">
  <div class ="comment-body">
    <label for="comment" class="label">Comment on Post</label>
    <textarea name="comment-form" class="comment-body-form"></textarea>
  </div>
  <div class ="comment-btn-container">
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
{{/if}}

{{> comments blog.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}