
{{> blog-info blog }}
  
{{#if loggedIn}}
<form class="comment-form">
  <div class ="comment-body">
    <textarea name="comment-form" class="contact-form-body"></textarea>
  </div>
  <div class ="submit">
    <button type="submit">Submit</button>
  </div>
</form>
{{/if}}

{{> comments blog.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}